.logo{
    font-family: $logo-font;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $primary-title-color;
    text-decoration: none;

    & span{
        color: $primary-hover-color;
     }
 }

 .logo-footer {
    font-family: $logo-font;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:$secodaty-title-color;
 
    & span{
     color: $primary-hover-color;
     }
 }